<html>
<head>
  <title>REGISTER YOUR ENTOURAGE</title>
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
  <link rel="stylesheet" type="text/css" href="/assets/css/styling.css">
</head>
<body>
  <div id="container">
    <div id="form">
      <h1>REGISTER YOUR ENTOURAGE<div id="sprite">
          <img src="/assets/images/E.svg" width="200" height="200" id="candle">
        </div></h1>
<form action="/register" method="post">
  <input type="text" placeholder="Username" name="username" autofocus required /><br />
  <input type="password" placeholder="Password" name="password" required /><br />
  <%if(data.warning===true){%><span id="warning">Invalid. Try again.</span><%}%><br />
  <input type="submit"><button id="submit">JOIN US</button></input>
</form>
  <a href="/login">log in</a></div>
</div>
</body>
</html>
